version: '2'
services:
  db:
    image: postgres@sha256:41bfa2e5b168fff0847a5286694a86cff102bdc4d59719869f6b117bb30b3a24
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql/data
    command:
      - "postgres"
      - "-c"
      - "listen_addresses=*"
      - -p 5442
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    expose:
      - "5442"
    ports:
      - "5442:5442"

  web:
    build: .
    volumes:
      - ./:/app
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: "postgres://postgres:postgres@localhost:5442/postgres"
      BLAZER_DATABASE_URL: "postgres://postgres:postgres@localhost:5442/postgres"
      # uncomment to run locally with docker-compose
      # DATABASE_URL: "postgres://postgres:postgres@host.docker.internal:5442/postgres"
      # BLAZER_DATABASE_URL: "postgresql://postgres:chummy@host.docker.internal:5432/notification_api"
    depends_on:
      - db

volumes:
  pgdata:
