name: Run System Status Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0

    - name: Set up Python 3.12
      uses: actions/setup-python@e9aba2c848f5ebd159c070c61ea2c4e2b122355e # v2.3.4
      with:
        python-version: 3.14

    - name: Install dependencies
      run: |
        cd system_status
        python -m pip install --upgrade pip
        pip install -r requirements_for_system_status.txt

    - name: Run tests
      run: |
        cd system_status
        pytest -v tests/*