name: Test, format and lint

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test-format-lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - lambda: blazer
            ruby: 3.0.4
          - lambda: google-cidr
            python: "3.12"
          - lambda: heartbeat
            python: "3.12"

    steps:
      - uses: KengoTODA/actions-setup-docker-compose@aa468051c6851848da9bfe114e7eac913c0bf59c # v1.2.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}            
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - uses: dorny/paths-filter@7267a8516b6f92bdb098633497bad573efdbf271 # v2.12.0
        id: changes
        with:
          filters: |
            lambda:
              - '${{ matrix.lambda }}/**'
              - '.github/workflows/test-format-lint.yml'

      - name: Setup Python
        if: steps.changes.outputs.lambda == 'true' && matrix.python
        uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c # v4.9.1
        with:
          python-version: ${{ matrix.python }}
          cache: pip

      - name: Setup Ruby
        if: steps.changes.outputs.lambda == 'true' && matrix.ruby
        uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Install deps
        if: steps.changes.outputs.lambda == 'true'
        working-directory: ${{ matrix.lambda }}
        run: make install

      - name: Lint
        if: steps.changes.outputs.lambda == 'true'
        working-directory: ${{ matrix.lambda }}
        run: make lint

      - name: Format
        if: steps.changes.outputs.lambda == 'true'
        working-directory: ${{ matrix.lambda }}
        run: make ARGS=--check fmt

      - name: Test
        if: steps.changes.outputs.lambda == 'true'
        working-directory: ${{ matrix.lambda }}
        run: make test
